@model Streameo.Models.ChangePasswordModel

@{
    ViewBag.Title = "Zmiana hasła";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    <div id="login-contener">
		<h2>Zmiana hasła</h2>
		<p id="login-info">Użyj poniższego formularza, aby zmienić hasło. Nowe hasło powinno mieć więcej niż @Membership.MinRequiredPasswordLength znaków.</p>
		<p>@Html.LabelFor(m => m.OldPassword)</p>
		@Html.PasswordFor(m => m.OldPassword, new { @class = "text" })
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["OldPassword"].Errors.Count() > 0)
        {
            <div class="error-msg">
                <p><img src="@Url.Content("~/Content/images/msg-error.png")" border="0" align="absmiddle" alt="" />
                    @ViewData.ModelState["OldPassword"].Errors.First().ErrorMessage <br />
                </p>
            </div>
        }
		<p>@Html.LabelFor(m => m.NewPassword)</p>
		@Html.PasswordFor(m => m.NewPassword, new { @class = "text" })
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["NewPassword"].Errors.Count() > 0)
        {
            <div class="error-msg">
                <p><img src="@Url.Content("~/Content/images/msg-error.png")" border="0" align="absmiddle" alt="" />
                    @ViewData.ModelState["NewPassword"].Errors.First().ErrorMessage <br />
                </p>
            </div>
        }
		<p>@Html.LabelFor(m => m.ConfirmPassword)</p>
		@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text" })
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["ConfirmPassword"].Errors.Count() > 0)
        {
            <div class="error-msg">
                <p><img src="@Url.Content("~/Content/images/msg-error.png")" border="0" align="absmiddle" alt="" />
                    @ViewData.ModelState["ConfirmPassword"].Errors.First().ErrorMessage <br />
                </p>
            </div>
        }
		<input type="submit" value="Zmień hasło" id="submit" class="text" />
	</div>
}
