@model Streameo.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Pass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pass)
    </div>

    <div class="display-label">SongsAdded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SongsAdded)
    </div>

    <div class="display-label">TimeOfListening</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeOfListening)
    </div>

    <div class="display-label">PremiumStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PremiumStatus)
    </div>

    <div class="display-label">RegistrationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
