@model Streameo.Models.Top
@{
    ViewBag.Title = "Streameo";
}
<div id="Toplists">
    <div id="topSongs">
        <h2 class="topTitle">
            Top songs</h2>
        <ul>
            @foreach (var song in Model.Songs)
            {
                <li>
                <a class="load-song" href="#" onclick="LoadMusicFile(@song.Id,true)">@song.Title by @song.Artist</a>
                <a class="load-song" href="#" onclick="AddToPlaylist(@song.Id)">+</a>
                </li>
            }
        </ul>
    </div>
    <div id="topAlbums">
        <h2 class="topTitle">
            Top albums</h2>
        <ul>
            @foreach (var album in Model.Albums)
            {
                <li><a href="#">@album.Album by @album.Artist</a></li>
            }
        </ul>
    </div>
    <div id="topArtists">
        <h2 class="topTitle">
            Top artists</h2>
        <ul>
            @foreach (var artist in Model.Artists)
            {
                <li><a href="#">@artist.Artist</a></li>
            }
        </ul>
    </div>
</div>
