@model Streameo.Models.Top
@{
    ViewBag.Title = "Streameo";
}

<div id="columns">
	<div id="col1" class="col">
	  	<h2>Top <span>tytuły</span></h2>
	  	<ul>
        @{ int counter = 1; }
        @foreach (var song in Model.Songs)
        {
            <li>
            <span class="number">@counter</span>
            @{counter = counter + 1;}
            <span class="position"><img src="@song.Item1.PositionImg" border="0" alt="" /></span>
            <span class="cover30"><img width="30px" height="30px" src="@song.Item2" border="0" alt="" /></span>
            <a class="load-song" href="#" onclick="LoadMusicFile(@song.Item1.Id,true)">@song.Item1.Title</a>
            <!--<a class="load-song" href="#" onclick="AddToPlaylist(@song.Item1.Id)">+</a>-->
            <span class="artist">
                    @Html.ActionLink(@song.Item1.ArtistName, "Artist", "Browse", new { artist = @song.Item1.ArtistName }, null)
                </span>
            </li>
        }
        </ul>
	</div>
	<div id="col2" class="col">
		<h2>Top <span>albumy</span></h2>
		<ul>
        @{ counter = 1; }
        @foreach (var album in Model.Albums)
        {
            <li>
	  			<span class="number">@counter</span>
                @{counter = counter + 1;}
                <span class="position"><img src="@album.PositionImg" border="0" alt="" /></span>
                <span class="cover30"><img width="30px" height="30px" src="@album.Cover" border="0" alt="" /></span>
				@Html.ActionLink(@album.Name, "Album", "Browse", new { id = @album.Id }, null)
                <span class="artist">
                    @Html.ActionLink(@album.ArtistName, "Artist", "Browse", new { artist = @album.ArtistName }, null)
                </span>

			</li>
        }
        </ul>
    </div>
	<div id="col3" class="col">
		<h2>Top <span>wykonawcy</span></h2>
		<ul>
        @{ counter = 1; }
        @foreach (var artist in Model.Artists)
        {
            <li>
	  			<span class="number">@counter</span>
                @{counter = counter + 1;}
                <span class="position"><img src="@artist.PositionImg" border="0" alt="" /></span>
                <span class="cover30"><img width="30px" height="30px" src="@artist.Picture" border="0" alt="" /></span>
				@Html.ActionLink(@artist.Name, "Artist", "Browse", new { artist = @artist.Name }, null)
			</li>
        }
        </ul> 		
    </div>
	<div class="clr"></div>
</div>

<!--<div id="Toplists">
    <div id="topSongs">
        <h2 class="topTitle">
            Top songs</h2>
        <ul>
            @foreach (var song in Model.Songs)
            {
                <li>
                <a class="load-song" href="#" onclick="LoadMusicFile(@song.Item1.Id,true)">@song.Item1.Title by @song.Item1.ArtistName</a>
                <a class="load-song" href="#" onclick="AddToPlaylist(@song.Item1.Id)">+</a>
                </li>
            }
        </ul>
    </div>
    <div id="topAlbums">
        <h2 class="topTitle">
            Top albums</h2>
        <ul>
            @foreach (var album in Model.Albums)
            {
                <li>@Html.ActionLink(@album.Name, "Album", "Browse", new { id = @album.Id }, null)
                    by
                    @Html.ActionLink(@album.ArtistName, "Artist", "Browse", new { artist = @album.ArtistName }, null)
                </li>
            }
        </ul>
    </div>
    <div id="topArtists">
        <h2 class="topTitle">
            Top artists</h2>
        <ul>
            @foreach (var artist in Model.Artists)
            {
                <li>@Html.ActionLink(@artist.Name, "Artist", "Browse", new { artist = @artist.Name }, null)</li>
            }
        </ul>
    </div>
</div>-->
