@if(Request.IsAuthenticated) {
    <text>Zalogowany jako: <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Wyloguj", "LogOff", "Account") ]
     <form action="@Streameo.Models.Dotpay.LinkToPay" method="post">

<input type="hidden" name="kwota" value="@Streameo.Models.Premium.Amount" />
<input type="hidden" name="opis" value="@Streameo.Models.Premium.Description" />
<input type="hidden" name="control" value="@Streameo.Models.Premium.Control(User.Identity.Name)" />
<button type="submit">Buy premium account!</button>
</form>
    
    </text>
   
}
else
{
    @:[ @Html.ActionLink("Rejestracja", "Register", "Account", null, new { @class = "ajax"}) ]
    @:[ @Html.ActionLink("Zaloguj", "LogOn", "Account", null, new { @class = "ajax" }) ]
    @:[ @Html.ActionLink("Zaloguj przez Facebooka", "Facebook", "Account") ]
}
