@model Streameo.Models.Album
@{
    ViewBag.Title = Model.Name;
}
<link href="@Url.Content("~/Content/rateit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.rateit.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/UploadFileExtensionCheck.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/rating.js")" type="text/javascript"></script>

<h2>
    @Html.DisplayFor(modelItem => Model.ArtistName)
</h2>
<h2>
    @Html.DisplayFor(modelItem => Model.Name)
</h2>
<br />
<img src="@Model.Cover" width="300" />
<br />
<br />
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Dodaj utwór", "CreateSong", new { artist = Model.ArtistName, album = Model.Name }, new { @class = "ajax" })
    </p>
}
<table>
    <tr>
        <th>
            #
        </th>
        <th>
            Tytuł utworu
        </th>
        <th>
            Ocena
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                Data dodania
            </th>
            <th>
                Liczba odtworzeń
            </th>
            <th>
                Ścieżka do pliku
            </th>
            <th>
            </th>
        }
    </tr>
    @{ int i = 1;
    }
    @foreach (var item in Model.Songs)
    {
        <tr>
            <td>
                @i
                @{ ++i;
                }
            </td>
            <td>
                <a href="#" onclick="LoadMusicFile(@item.Id,true)">@item.Title</a> <a href="#" onclick="AddToPlaylist(@item.Id)">
                    +</a>
            </td>
            <td>
                @{ string id1 = "songrating" + @item.Id; }
                @if (!User.Identity.IsAuthenticated)
                {
                    <div id="@id1" data-rateit-resetable="false" data-rateit-readonly="true" data-productid="@item.Id" data-rateit-value="@item.Rating" class="rateit">
                    </div>
                }
                else
                {
                    bool voted = false;
                    foreach (var voter in item.Voters)
                    {
                        if (voter.User == User.Identity.Name)
                        {
                            voted = true;
                            break;
                        }
                    }

                    if (voted)
                    {
                    <div id="@id1" data-productid="@item.Id" data-rateit-resetable="false" data-rateit-readonly="true" data-rateit-value="@item.Rating" class="rateit">
                    </div>
                    }
                    else
                    {
                    <div id="@id1" data-productid="@item.Id" data-rateit-step="1" data-rateit-resetable="false" data-rateit-value="@item.Rating" class="rateit">
                    </div>
                    }
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPlays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditSong", new { id = item.Id, artist = Model.ArtistName, album = Model.Name }, new { @class = "ajax" })
                    |
                    @Html.ActionLink("Usuń", "DeleteSong", new { id = item.Id }, new { @class = "ajax" })
                </td>
            }
        </tr>
    }
</table>
