@model Streameo.Models.Artist
@{
    ViewBag.Title = Model.Name;
}


<script type="text/javascript">
$(document).on('ready',function () {
    alert('0');
    DISQUS.reset({
        reload: true,
        config: function () {
            this.page.identifier = "myArticle";
            this.page.url = 'http://localhost:1188/Browse/Artist/' + @Html.Raw(Json.Encode(Model.Id)) + '#!newthread';
        }
    });
    });

</script>

<h2>
    @Html.DisplayFor(modelItem => Model.Name)
</h2>
<br />
<img src="@Model.Picture" width="300" />
<br />
<br />

@if (User.IsInRole("Admin"))
{
    <p>
        @Ajax.ActionLink("Dodaj album", "CreateAlbum", "Browse", new { artist = Model.Name }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
        @*@Html.ActionLink("Dodaj album", "CreateAlbum", new { artist = Model.Name }, new { @class = "ajax" })*@
    </p>
}

<table>
    <tr>
        <th>
            Albumy
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
            </th>
        }
    </tr>
    @foreach (var item in Model.Albums)
    {
        <tr>
            <td>
            @Ajax.ActionLink(@item.Name, "Album", "Browse", new { id = item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET",
                           OnSuccess = "success"
                       }, null)
                @*@Html.ActionLink(item.Name, "Album", new { id = item.Id }, new { @class = "ajax" })*@
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Ajax.ActionLink("Edytuj", "EditAlbum", "Browse", new { id = item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null) | 
                    @Ajax.ActionLink("Usuń", "DeleteAlbum", "Browse", new { id = item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
                    @*@Html.ActionLink("Edytuj", "EditAlbum", new { id = @item.Id }, new { @class = "ajax" }) |
                    @Html.ActionLink("Usuń", "DeleteAlbum", new { id = @item.Id }, new { @class = "ajax" })*@
                </td>
            }
        </tr>
    }
</table>

<br />
<br />

@Disqus.ShowComments("StreameoArtistComments" + Model.Name)
