@model Streameo.Models.Artist
@{
    ViewBag.Title = Model.Name;
}
<h2>
    @Html.DisplayFor(modelItem => Model.Name)
</h2>
<br />
<img src="@Model.Picture" width="300" />
<br />
<br />

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Dodaj album", "CreateAlbum", new { artist = Model.Name }, new { @class = "ajax" })
    </p>
}

<table>
    <tr>
        <th>
            Albumy
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
            </th>
        }
    </tr>
    @foreach (var item in Model.Albums)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Album", new { id = item.Id }, new { @class = "ajax" })
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edytuj", "EditAlbum", new { id = @item.Id }, new { @class = "ajax" }) |
                    @Html.ActionLink("Usuń", "DeleteAlbum", new { id = @item.Id }, new { @class = "ajax" })
                </td>
            }
        </tr>
    }
</table>
