@model List<Streameo.Models.Song>
@{
    if (Model.Count > 0)
    {
        ViewBag.Title = Model[0].Genre;
    }
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table>
    <tr>
        <th>
            Artysta
        </th>
            @if (User.IsInRole("Admin"))
            {
            <th>
            </th>
            }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Artist.Name, "Artist", new { artistId = @item.Artist.Id })
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { artist = @item.Artist }) |
                @Html.ActionLink("Details", "Details", new { artist = @item.Artist }) |
                @Html.ActionLink("Delete", "Delete", new { artist = @item.Artist })
            </td>
            }
        </tr>
    }
</table>
