@model List<Streameo.Models.Artist>
@{
    ViewBag.Title = @ViewBag.Genre;
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Ajax.ActionLink("Dodaj artystę", "CreateArtist", "Browse", null, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
        @*@Html.ActionLink("Dodaj artystę", "CreateArtist",null, new { @class = "ajax"})*@
    </p>
}
<table>
    <tr>
        <th>
            Artysta
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.ActionLink(@item.Name, "Artist", new { artist = @item.Name }, new { @class = "ajax" })*@
                @Ajax.ActionLink(@item.Name, "Artist", "Browse", new { artist = @item.Name }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET",
                           
                           OnSuccess = "successToArtist"
                       }, null)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Ajax.ActionLink("Edytuj", "EditArtist", "Browse", new { id = @item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null) | 
                       @Ajax.ActionLink("Usuń", "DeleteArtist", "Browse", new { id = @item.Id }, new AjaxOptions()
                      {
                          InsertionMode = InsertionMode.Replace,
                          UpdateTargetId = "main",
                          HttpMethod = "GET"
                      }, null)
                </td>
            }
        </tr>
    }
</table>
