@model List<Streameo.Models.Artist>
@{
    ViewBag.Title = @ViewBag.Genre;
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Dodaj artystę", "CreateArtist")
    </p>
}
<table>
    <tr>
        <th>
            Artysta
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Name, "Artist", new { artist = @item.Name })
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edytuj", "EditArtist", new { id = @item.Id }) | @*@Html.ActionLink("Details", "Details", new { artistId = @item.Artist.Id }) |*@
                    @Html.ActionLink("Usuń", "DeleteArtist", new { id = @item.Id })
                </td>
            }
        </tr>
    }
</table>
