@model Tuple<List<string>, List<Streameo.Models.Artist>>

@{
    ViewBag.Title = "Przeglądaj muzykę";
}

<table>
    <tr>
        <th>
            Gatunek
        </th>
    </tr>
    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
            @Ajax.ActionLink(@item, "Genre", "Browse", new { name = item }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
                @*@Html.ActionLink(item, "Genre", new { name = item }, new { @class = "ajax" })*@
            </td>
        </tr>
    }
</table>

@if(User.IsInRole("Admin"))
{
    <table>
        <tr>
            <th>
                Artyści bez utworów
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(@item.Name, "Artist", "Browse", new { artist = @item.Name }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
                </td>
                <td>
                    @Ajax.ActionLink("Edytuj", "EditArtist", new { id = @item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null) | 
                    @Ajax.ActionLink("Usuń", "DeleteArtist", new { id = @item.Id }, new AjaxOptions()
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "main",
                           HttpMethod = "GET"
                       }, null)
                </td>
            </tr>
        }
    </table>
}