@model Tuple<List<string>, List<Streameo.Models.Artist>>

@{
    ViewBag.Title = "Przeglądaj muzykę";
}

<table>
    <tr>
        <th>
            Gatunek
        </th>
    </tr>
    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
                @Html.ActionLink(item, "Genre", new { name = item }, new { @class = "ajax" })
            </td>
        </tr>
    }
</table>

@if(User.IsInRole("Admin"))
{
    <table>
        <tr>
            <th>
                Artyści bez utworów
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "Artist", new { artist = @item.Name }, new { @class = "ajax" })
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditArtist", new { id = @item.Id }, new { @class = "ajax" }) | 
                    @Html.ActionLink("Usuń", "DeleteArtist", new { id = @item.Id }, new { @class = "ajax" })
                </td>
            </tr>
        }
    </table>
}